<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Advocate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

							<!-- Nav -->

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center">Advocate and Educate</h1>
              </header>
              <div class="refugeediv">
								<p align="center"><b>Accounts to Share!</b><br><a href="https://twitter.com/UN_Women" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @UN_Women</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><b>  <b><a href="https://twitter.com/MalalaFund" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @MalalaFund</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><b>  <b><a href="https://twitter.com/save_children" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @save_children</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><br></p>

                
              </div>
            </div>
          </div>
      </div>
  </body>
</html>