<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Climate Change</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.erb">Home</a></li>
							<li><a href="refugee.erb">Refugee Crisis</a></li>
							<li><a href="zika.erb">Zika Virus</a></li>
							<li><a href="climate.erb">Climate Change</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center">What is Climate Change?</h1>
              </header>
              <div class="refugeediv">
								<p align="center"><i>"Earth's average temperature has risen by 1.5°F over the past century, and is projected to rise another 0.5 to 8.6°F over the next hundred years. Small changes in the average temperature of the planet can translate to large and potentially dangerous shifts in climate and weather."</i></p>
                <p align="center">-<a href="https://www.epa.gov/climatechange/climate-change-basic-information">EPA</a></p>
              </div>
              <br>
              <div class="refugeediv">
                <h2 align="center">Donate</h2>
									<li>
                    <a href="http://www.nature.org/ourinitiatives/urgentissues/global-warming-climate-change/index.htm?intc=nature.tnav.ourwork">
										<h2 align="center">Nature Conservancy</h2>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.care.org/work/world-hunger/climate-change">
                      <h2 align="center">CARE</h2>
                    </a>
                  </li>
              </div>
            </div>
          </div>
      </div>
  </body>
</html>