<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Education</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.erb">Home</a></li>
							<li><a href="refugee.erb">Refugee Crisis</a></li>
							<li><a href="zika.erb">Zika Virus</a></li>
							<li><a href="climate.erb">Climate Change</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center"> Women's Education </h1>
              </header>
              <div class="refugeediv">
								<p align="center"><i>“EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD.” – NELSON MANDELA" </i><http://inspiration.allwomenstalk.com/inspiring-quotes-that-explain-the-importance-of-education></a> <br> "The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education." - Martin Luther King, Jr.</p>


                <div class="educationdiv">
                <h2 align="center">Donate</h2>

                    <a href="https://www.clintonfoundation.org/our-work/by-topic/girls-and-women">
                       <img class="educationimg" src = "images/Clinton.jpeg">
										<h2>Girls and Women</h2>
                    </a>

                    <a href="http://www.aauw.org">
                      <img class="educationimg" src = "images/aauw.jpeg">
                      <h2>AAUW Empowering Women</h2>
                    </a>

              </div>
            </div>
          </div>
      </div>
  </body>
</html>