<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Education</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center"> Women's Education </h1>
              </header>
              <div class="refugeediv">
								<p align="center"><i>“Education is the most powerful weapon which you can use to change the world.” </i>–<a href="http://inspiration.allwomenstalk.com/inspiring-quotes-that-explain-the-importance-of-education">Nelson Mandela"</a> <br> <i>"The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education."</i> -<a href="http://www.drmartinlutherkingjr.com/thepurposeofeducation.htm">Martin Luther King, Jr.</a></p>


                <div class="educationdiv" align="center">
                <h2 align="center">Donate</h2>

                    <a target="_blank" href="https://www.clintonfoundation.org/our-work/by-topic/girls-and-women">
                       <img class="educationimg" src="images/Clinton.jpeg">
                    </a>

                    <a target="_blank" href="http://www.aauw.org">
                      <img class="educationimg" src="images/aauw.jpeg">
                    </a>

              </div>
            </div>
          </div>
      </div>
  </body>
</html>