<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Refugee Crisis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.erb">Home</a></li>
							<li><a href="refugee.erb">Refugee Crisis</a></li>
							<li><a href="zika.erb">Zika Virus</a></li>
							<li><a href="climate.erb">Climate Change</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center">What is the Refugee Crisis?</h1>
								<p><i>"An unprecedented 65.3 million people around the world have been forced from home. Among them are nearly 21.3 million refugees, over half of whom are under the age of 18.
There are also 10 million stateless people who have been denied a nationality and access to basic rights such as education, healthcare, employment and freedom of movement."</i></p>
                <p>-<a href="http://www.unhcr.org/en-us/figures-at-a-glance.html">UNHCR</a></p>
<!--                 <h3>What has been done?</h3>
                <li><strong><a href="http://europa.eu/rapid/press-release_STATEMENT-15-5697_en.htm">European Commission Settlement 15/5697</a><strong></li> -->
							</header>
  </body>
</html>