<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Volunteer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center">Become a Volunteer</h1>
              </header>

              <div class="refugeediv" align="center">

									<h2> Making a difference in someone's life, begins with you. It only takes one person to change the life of someone. Here are ways <i>you</i> can get involved. </h2>

                <h3> <div class="refugeediv">
                <h2 align="center">Start Here</h2>

<!-- #climate -->
                    <a target="_blank" href="http://www.nature.org/ourinitiatives/urgentissues/global-warming-climate-change/index.htm?intc=nature.tnav.ourwork">
										<img class="refugeeimg" src="images/photo3.png">
                    </a>
                   <a target="_blank" href="http://www.care.org/work/world-hunger/climate-change">
                     <img class="refugeeimg" src="images/photo4.jpg">
                    </a>

<!-- # eduation -->
                   <a href="https://www.clintonfoundation.org/our-work/by-topic/girls-and-women">
                       <img class="educationimg" src = "images/Clinton.jpeg">

                    </a>

                    <a href="http://www.aauw.org">
                      <img class="educationimg" src = "images/aauw.jpeg">
                  <a href="http://www.cuwcc.org">
                       <img class="waterimg" src = "images/water.jpeg">
                    </a>

                    <a href="http://saveourwater.com">
                      <img class="waterimg" src = "images/savewater.jpeg">
                    </a>

<!--  # equality -->
                   <a target="_blank" href="https://www.malala.org">
                      <img class="refugeeimg" src="images/malala.png">
                    </a>
                    <a target="_blank" href="https://girlup.org">
                      <img class="refugeeimg" src="images/girlup.png">
                    </a>

<!-- # refugees -->
                  <a target="_blank" href="https://www.unicefusa.org/mission/emergencies/child-refugees/syria-crisis">
                      <img class="refugeeimg" src="images/photo.jpg">
                    </a>
                    <a target="_blank" href="https://donate.unhcr.org/gb-en/syria#_ga=1.135788025.955847031.1417523128">
                      <img class="refugeeimg" src="images/photo1.png">
                    </a>
                    <a target="_blank" href="https://secure.savethechildren.org/site/c.8rKLIXMGIpI4E/b.9311303/k.5B10/Donate_to_the_Child_Refugee_Crisis_Relief_Fund/apps/ka/sd/donor.asp">
                      <img class="refugeeimg" src="images/photo2.jpg">
                    </a>
<!-- # done -->
              </div>
            </div>
          </div>
      </div>
  </body>
</html>