<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Water Conservation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>
						</div>
					</header>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center"> Water Conservation </h1>
              </header>
              <div class="refugeediv">
								<p align="center"><i>“Here is your country. Cherish these natural wonders, cherish the natural resources, cherish the history and romance as a sacred heritage, for your children and your children's children. Do not let selfish men or greedy interests skin your country of its beauty, its riches or its romance.”
― Theodore Roosevelt" </i><http://www.goodreads.com/quotes/tag/conservation></a> <br> "Once we start deliberately messing with the climate systems, we could inadvertently shift rainfall patterns (climate models have shown that rainfall in the Amazon might be particularly vulnerable), causing collapse of ecosystems, drought, famine, and more." - Jeff Goodell</p>


                <div class="educationdiv" align="center">
                <h2 align="center">Donate</h2>

                    <a href="http://www.cuwcc.org">
                       <img class="waterimg" src = "images/water.jpeg">
										<h2>California Urban Water Conservation Council</h2>
                    </a>

                    <a href="http://saveourwater.com">
                      <img class="waterimg" src = "images/savewater.jpeg">
                      <h2>Save our Water</h2>
                    </a>

              </div>
            </div>
          </div>
      </div>
  </body>
</html>