<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Zika</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="title">Give Change</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.erb">Home</a></li>
							<li><a href="refugee.erb">Refugee Crisis</a></li>
							<li><a href="zika.erb">Zika Virus</a></li>
							<li><a href="climate.erb">Climate Change</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 align="center">What is the Zika Virus?</h1>
              </header>
              <div class="refugeediv">
								<p align="center"><i>"Zika virus infection should be considered in patients with acute onset of fever, maculopapular rash, arthralgia or conjunctivitis, who traveled to areas with ongoing transmission in the two weeks prior to illness onset. Clinical disease usually is mild. However, during the current outbreak, Zika virus infections have been confirmed in several infants with microcephaly and in fetal losses in women infected during pregnancy. We do not yet understand the full spectrum of outcomes that might be associated with infection during pregnancy, nor the factors that might increase risk to the fetus."</i><a href="https://www.bustle.com/articles/138151-quotes-about-the-zika-virus-from-officials-show-how-devastatingly-serious-it-is">
              </div>
              <br>
              <div class="refugeediv">
                <h2 align="center">Donate</h2>

                    <a href="http://www.savethechildren.org/site/c.8rKLIXMGIpI4E/b.9362321/">
                       <img class="zikaimg" src = "images/savethechildren.jpeg">
										<h2>Save the Children</h2>
                    </a>

                    <a href="http://www.map.org/zika">
                      <img class="zikaimg" src = "images/maplogo2.jpeg">
                      <h2>+ Map International</h2>
                    </a>
              </div>
            </div>
          </div>
      </div>
  </body>
</html>